.nav-container{

    height: 10vh;
    background-color: black;
    color: darkcyan;
}
ul{
    margin: 0px;
    height: inherit;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

li{

    padding: 8px;
    margin: 12px;
    cursor: pointer;
}

.active{

    color: white;
}